body{
    align-items: center;
    background-color:rgb(22, 189, 22);
    display: flex;
    justify-content: center;
    height: 99.5vh;
}
*{
    margin: 0;
    padding: 0;
}
.mapa{
    border-bottom: 5px solid rgb(22, 189, 22);
    background:linear-gradient(rgba(28, 146, 197, 0.752), rgb(174, 223, 227)) ;

    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.nuvem1{
    display: none;
    position: absolute;
    right: -300px;
    width: 300px;
}
.nuvem1Movendo{
    animation: nuvem-animation1 15s infinite linear;
}
.nuvem2{
    animation: nuvem-animation2 20s infinite linear;
    display: none;
    position: absolute;
    right: -800px;
    width: 300px;
}
.nuvem2Movendo{
    animation: nuvem-animation2 20s infinite linear;
}
@keyframes nuvem-animation1{
    from{
        right: -300px;
    }
    to{
        right: 100%;
    }
}
@keyframes nuvem-animation2{
    from{
        right: -800px;
    }
    to{
        right: 100%;
    }
}
.tubo{
    bottom: 0;
    display: none;
    position: absolute;
    width: 40px;
}
.tuboMovendo{
    animation:tubo-animation 1.5s infinite linear; 
}
@keyframes tubo-animation{
    from{
        right: -40px;
    }
    to{
        right: 100%;
    }
}
.marioCorrendo{
    bottom: 0;
    display: none;
    position: absolute;
    width: 90px;
}
.jump{
    animation:jump-animation 500ms  ease-out;
}
@keyframes jump-animation {
    0%{
        bottom:0;
    };
    25%{
        bottom:50px ;
    }
    40%{
        bottom: 100px;
    }
    50%{
        bottom: 100px;
    }
    60%{
        bottom: 100px;
    }
    75%{
        bottom: 50px;
    }
    100%{
        bottom: 0px;
    }
}

.historico{
    position: absolute;
    display: none;
    right: 30%;
    top:40%;
    width: 100px;
}
.gameOver{
    display: none;
    text-align: center;
    position: absolute;
    top:35%
}
.comecaGame{
    text-align: center;
    position: absolute;
    top:35%
}

.hide{
    display: none;
}